<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="auto.js"></script>
    <link rel="stylesheet" href="auto.css" >
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Allstate Online Sales</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="hero hero-auto hero-super ">
            <div class="greeting">
                <div class="greeting__hdg">
                    Welcome!
                    <div class="greeting__hdg__box">
                    <span class="greeting__hdg__box__txt">
                        <span>Protection for your vehicle begins with Allstate.</span>
                    </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>