<div class="LayoutBannerFull">
    <div class="hero-hp-left">
        <div class="col-sm-12 col-md-12 col-lg-12 accountForm">
            <form style="width: 848px">
                <div class="form-group" style="border-bottom: 1px solid #9C9A9A">
                    <h3>Set Up Your Account</h3>
                </div>
                <div class="form-group">
                    <label>First Name </label>
                    <input ng-model="fname" class="form-control">
                </div>
                <div class="form-group">
                    <label>Last Name </label>
                    <input ng-model="lname" ng-model="lname" class="form-control">
                </div><hr>
                <div class="form-group">
                    <label>Policy Number </label>
                    <input ng-model="fname" class="form-control">
                </div>

            </form>
        </div>
    </div>
</div>
